@import url(./fonts.css);
nav{
    width: 100%;
}
.container__nav{
    max-width: 1440px;
    width: 100%;
    height: 20px;
    margin: 0 auto;
}
.nav__wrapper{
    padding: 32px 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__list{
    display: flex;
    align-items: center;
    gap: 48px;
}
.user__logo{
    width: 32px;
    aspect-ratio: 1/1;
}
.user__name{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #212121;
}
.user__wrapper{
    display: flex;
    align-content: baseline;
    gap: 8px;
}
.user__action{
    display: flex;
    align-items: center;
    gap: 40px;
    
}